@import "tailwindcss";

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes pulse-soft {
  0%,
  100% {
    transform: rotateY(180deg) scale(1);
  }
  50% {
    transform: rotateY(180deg) scale(1.05);
  }
}

@theme {
  --animate-fade-in: fade-in 0.6s ease-out forwards;
  --animate-pulse-soft: pulse-soft 2s ease-in-out infinite;
}
